extends ../layout

block content
  style.
    body {
      background-color: #DADADA;
    }
    body > .grid {
      height: 100%;
    }
    .image {
      margin-top: -100px;
    }
    .column {
      max-width: 450px;
    }
  script.
    $(document)
    .ready(function() {
      $('.ui.form')
        .form({
          fields: {
            email: {
              identifier  : 'email',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Please enter your e-mail'
                },
                {
                  type   : 'email',
                  prompt : 'Please enter a valid e-mail'
                }
              ]
            },
            password: {
              identifier  : 'password',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Please enter your password'
                },
                {
                  type   : 'length[6]',
                  prompt : 'Your password must be at least 6 characters'
                }
              ]
            }
          }
        })
      ;
    });
    
  .ui.middle.aligned.center.aligned.grid
    .column
      .ui.teal.image.header
        img.image(src="assets/images/logo.png")
        .content to your account
      form.ui.large.form(method="post")
        .ui.stacked.segment
          .field
            .ui.left.icon.input
              i.user.icon
              input(type='text', name='email', placeholder='E-mail address')
          .field
            .ui.left.icon.input
              i.lock.icon
              input(type='password', name='password', placeholder='Password')
          .ui.fluid.large.teal.submit.button Login
        .ui.error.message
      include ../partials/flash.pug
      
      .ui.message
        | New to us?
        a(href="/signup") Sign Up
      //- .ui.message
      //-   | New to us? 
      //-   a(href='/signup') Sign Up
