extends ../layout

block content
  style.
    body {
      background-color: #DADADA;
    }
    body > .grid {
      height: 100%;
    }
    .image {
      margin-top: -100px;
    }
    .column {
      max-width: 450px;
    }
  script.
    $(document)
    .ready(function() {
      $('.ui.form')
        .form({
          fields: {
            email: {
              identifier  : 'email',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Please enter your e-mail'
                },
                {
                  type   : 'email',
                  prompt : 'Please enter a valid e-mail'
                }
              ]
            },
            password: {
              identifier  : 'password',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Please enter your password'
                },
                {
                  type   : 'length[6]',
                  prompt : 'Your password must be at least 6 characters'
                }
              ]
            },
            confirmPassword: {
              identifier  : 'confirmPassword',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Please enter your confirmPassword'
                },
                {
                  type   : 'length[6]',
                  prompt : 'Your confirmPassword must be at least 6 characters'
                }
              ]
            }
          }
        })
      ;
    });
  .ui.middle.aligned.center.aligned.grid
    .column
      .ui.teal.image.header
        img.image(src="images/logo.png")
        .content Sign up
      form.ui.large.form(method="post")
        input(type='hidden', name='_csrf', value=_csrf)
        .ui.stacked.segment
          .field
            .ui.left.icon.input
              i.user.icon
              input(type='email', name='email', placeholder='E-mail address' autofocus required)
          .field
            .ui.left.icon.input
              i.lock.icon
              input(type='password', name='password', placeholder='Password' required)
          .field
            .ui.left.icon.input
              i.lock.icon
              input(type='password', name='confirmPassword', placeholder='confirmPassword' required)
          .ui.fluid.large.teal.submit.button Signup
        .ui.error.message
      include ../partials/flash.pug