if messages.errors
  .ui.error.message
    i.close.icon
    ul.list
      each error in messages.errors
        li= error
if messages.info
  .ui.info.message
    i.close.icon
    ul.list
      each info in messages.info
        li= info
if messages.success
  .ui.info.message
    i.close.icon
    ul.list
      each success in messages.success
        li= success