footer
  .ui.inverted.vertical.footer.segment
    .ui.container
      .ui.stackable.inverted.divided.equal.height.stackable.grid
        .sixteen.wide.column
          h4.ui.inverted.header 회사소개
          .ui.inverted.link.list
            .item Coin-ICO ㅣ 대표자:김혁 ㅣ 주소:경기 화성시 효행로 707번길 7
            .item 사업자 등록번호: 313-59-00340
            .item 이메일 : kimhyuk722@live.co.kr ㅣ전화번호 010-9003-8982 / 010-4502-3704
        //- .three.wide.column
        //-   h4.ui.inverted.header Services
        //-   .ui.inverted.link.list
        //-     a.item(href="#") Banana Pre-Order
        //-     a.item(href="#") DNA FAQ
        //-     a.item(href="#") How To Access
        //-     a.item(href="#") Favorite X-Men
        //- .seven.wide.column
        //-   h4.ui.inverted.header Footer Header
        //-   p
        //-     | Extra space for a call to action inside the footer that could help re-engage users.
