mixin item
  .ui.dropdown.item
    i.world.icon
    span.text 언어
    .menu
      .header
        i.tags.icon
        |       Language Label
      .scrolling.menu
        .item
          .ui.empty.circular
          |         한국어
        .item
          .ui.empty.circular
          |         영어
// Sidebar Menu
.ui.vertical.inverted.sidebar.menu
  .item
    img.logo(src="https://semantic-ui.com/examples/assets/images/logo.png")
    p.item= "COIN-ICO"
  .item
    +activeScroll("제품소개","#one")
    +activeScroll("회사소개","#two")
    +activeScroll("다운로드","#three")
    +activeScroll("온라인문의","#four")
  .right.menu
    .item
      .item
        +item