
extends layout

mixin questionCard
  .column
    .ui.raised.segment
      a.ui.red.ribbon.label 질문 1.
      span ICO 사이트 제작기간은 어떻게되나요?
      p 1~2주일 기간을 잡으며, 보통 1주일은 제작 1주일은 의뢰인과 소통하며 수정을 이어 나갑니다.
  .column
    .ui.raised.segment
      a.ui.blue.ribbon.label 질문 2.
      span ERC-20 토큰 지갑은 제작안하시나요?
      .text.container
        p 저희 Coin-ICO는 불필요한 작업(지출)은 제외합니다. 토큰(코인)지갑은 사업아이템에 따라 필요한 경우와 불필요한 경우가 있습니다. 대부분 기존의 MetaMask 등의 지갑으로 대체가 가능합니다.

  .column
    .ui.raised.segment
      a.ui.orange.ribbon.label 질문 3.
      span ICO 사이트 영문버전으로 가능한가요?
      p 사이트 내에 텍스트양에따라 별도의 기능을 추가할 경우, 한글,영문 등의 사이트를 같이 이용하실 수 있습니다.

  .column
    .ui.raised.segment
      a.ui.violet.ribbon.label 질문 4.
      span 토큰 락을 운영진이 적용 시킬수있나요?
      p 네. Coin-ICO 에서 초기 설정 진행후 추후에는 운영진 내에서 락을 걸수도 풀수도있습니다.

block header
  include partials/header

block content
  .pusher
    #one.ui.inverted.vertical.masthead.center.aligned.segment
      .ui.borderless.main.menu.inverted
        .ui.container
          .left.menu
            .item
              img.logo(src="https://semantic-ui.com/examples/assets/images/logo.png")
              p.item= "COIN-ICO"
          .item.tablet.computer.only
            +activeScroll("제품소개","#one")
            +activeScroll("회사소개","#two")
            +activeScroll("다운로드","#three")
            +activeScroll("온라인문의","#four")
          .right.menu
            .item.tablet.computer.only
              +item
            a.toc.item
              .item
                i.sidebar.icon
      #particles-js(style="position:absolute;width:100%;height:100%")
      .ui.text.container
        h1.ui.inverted.header
          | Coin-Ico Solution
        h2 꿈꿔왔던 나만의 사업 아이템을 코인과 ICO로 도와드립니다.
    #two.ui.vertical.stripe.segment.intro.center.aligned
      style.
        .ui.section.divider{
          margin-top: 4em;
          margin-bottom: 4em;
        }
      .row
        h3.ui.header.huge 라이브 데모
      .ui.text.container.row
        .ui.small.image
          img(src="/images/siteConstruct.png")
        .ui.header.huge.blue ICO 사이트 구축
        .ui.medium 해당 코인의 컨셉에 맞는 ICO용 사이트를 만들어 드립니다.
        .ui.medium 보수가 필요없는 관리자 페이지 기능을 넣어
        .ui.medium 추후에 추가비용 없이 사이트를 업데이트 하실수 있습니다.
        //- a.ui.large.button.blue 데스크탑 지갑 데모 다운로드
        //- a.ui.large.button.red 자세히 보기
        .ui.section.divider
        .ui.small.image
          img(src="/images/icoSetting.png")
        .ui.header.huge.blue 토큰 ICO 설정
        .ui.medium ICO 진행시 토큰 교환은 빠르고 정확해야 합니다.
        .ui.medium 수동으로 전달하는 방식이 아닌, 원하는 기간과 물량을 설정하여
        .ui.medium 소비자의 이더 전송시 설정값에 맞는 토큰을 받을수 있게 됩니다.
        .ui.section.divider
        .ui.small.image
          img(src="/images/whitePaper.png")
        .ui.header.huge.blue 백서제작
        .ui.medium 사업 아이템의 핵심을 담아 이해하기 쉽고 간결하게 백서를 제작해 드립니다.
        .ui.section.divider
        .ui.small.image
          img(src="/images/token.png")
        .ui.header.huge.blue ERC20 토큰
        .ui.medium 쉽게 만들수 있는 ERC20 토큰에서 기존의 장점과 관리자가 컨트롤이 가능한
        .ui.medium Lock 기능을 넣어 보안과 안전성을 강화시킨 토큰을 구축해드립니다.

        //- a.ui.large.button.blue 웹지갑 데모 보기
        //- | 아이디/비밀번호 user101/user101,user102/user102
    #three.ui.vertical.stripe.segment
      .ui.row.container.center.aligned
        h3.ui.header.huge 자주묻는 질문
      .ui.one.column.doubling.grid.text.container
        +questionCard
    #four.ui.vertical.stripe
      .ui.text.container
        .ui.inverted.segment
          .ui.inverted.form
            .two.fields
              .field
                label 성함 및 업체명
                input(placeholder="성함 및 업체명" type="text")
              .field
                label 연락처(이메일 혹은 전화번호)
                input(placeholder="" type="text")
            .field 
              label 문의글
              textarea
            .ui.submit.button 문의하기